@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root{
    --cor-azul-escuro: rgb(10, 56, 113,1);
    --cor-azul-medio:rgb(6, 23, 150);
    --cor-azul-claro: rgb(130, 152, 179);
    --cor-branca: rgb(225, 234, 243);
    --cor-cinza: rgb(73, 80, 87);
    --cor-cinza-escuro:rgb(52, 58, 64);
}

* {
    width: auto;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing:border-box;
    color: var(--cor-cinza);
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    align-items: center;
    padding: 1% 0%;
}  


 header h1{
    font-size: 1.5rem;
 }

 h2{
    font-size: 1.5rem;
 }

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items:start;
    padding: 1% 5% 1% 5%;
   
}

.flexivel_input{
    height: auto;
    width: 40%;
}

 section textarea{
    background-color: var(--cor-branca);
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    font-size: 150%;
    padding: 20% 5%;
   
}

.flexivel_botoes{
    display: flex;
    width: auto;
    align-items: center;
    gap: 5%;
    padding: 15% 4% 3% 2%; 
}

.botao{
    background-color: var(--cor-azul-escuro);
    border-radius: 0.5rem;
    color: var(--cor-branca);
    font-size: 1rem;
    cursor: pointer;
}

button:active{
    background-color: var(--cor-azul-medio);
}
button:disabled{
    background-color: var(--cor-azul-claro);
}

.botoes_esquerda{
    padding: 4% 15%; 
    width: 80%;   
}

.div_botao_copiar{
  padding: 10% 0% 0% 0%;
  align-items: center;
}

.texto_codificado{
    padding: 20% 0% 20% 0%;
    border-radius: 0.5rem;
    background-color: var(--cor-branca);
}

.botao_copiar{
    padding: 3% 10%; 
    width: 47%;  
}

.flexivel_img_span{
    display: flex;
    padding-top: 2%;
}

.flexivel_span{
  padding-inline-start:2%;
  font-size: 0.75rem;
  font-family: 'Inter', sans-serif;
}

.flexivel_imagem{
    width: auto;
    height: auto;  
}

section h2{
 color:var(--cor-cinza-escuro);
 font-size: 1.5rem;
 padding: 1%;
 
}

section p{
    color: var(--cor-cinza);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 24px */ 
    padding-top: 2%;  
}

.flexivel_output{
   
    width: 50%;
    height: 100%;
    text-align: center;   
}

.texto_vazio{
    padding-top: 1%;
}

.imagem_menino{
    width:40%;
    height: 40%;
    
}

.texto_saida{
    padding-top: 1%;   
    align-items: center;
}

footer{
    font-family: 'Gill Sans', sans-serif; 
    color:var(--cor-branca);
    background-color:var(--cor-azul-escuro);
    padding-bottom: 1%;
    width: auto;
    gap: 10%;   
}

footer section{
    display: flex;
    justify-content: center; 
} 

.footer_texto{
    text-align: center;
    padding: 1%;
}

.footer_icones{
   width: 15%;
   height: 2%; 
   text-align: center;
}


@media(max-width:1000px){
    main{
        flex-direction: column;
        align-items: center;
        padding: 1% 0% 5% 0%;
    }
    header {
        width: 100%;
        text-align: center; 
        flex-direction: column; 
    }

    header img{
        width: 10vw;
    }

    .flexivel_botoes{
        flex-direction: column;
        padding: 5% 0%;
        align-items: center;
    }
    .botao{
        font-size: 0.70rem;
        border-radius: 0.50rem;  
        margin-left: 1%;  
        
    }

    footer div span{
        font-size: 0.7rem;
        
    }
    footer{
        height: 10vh;
        padding-top: 5%;
    }

}